extends layout
block content
	.row(style='padding:1%; position: fixed; background:#353DA5;z-index: 1;')
		.col-lg-3
		.col-lg-6
			h1(align='center',style="color:white") Square Mail Dashboard
				img(alt='Brand', src='/images/whiteSquarelogo.png', style= 'height:10%;width:10%')

		.col-lg-3
					h6
						a(style='color:white; float:right' ,href='/logout') Logout
	.container-fluid(style='padding:0%; background-color:#353DA5')
			.row-fluid(style='padding:4%')
			.row(style='padding:5%')
				.col-lg-2
				.col-lg-3(style='padding:4%; border:3px; border-style:solid; border-color:white; border-radius:5%; background-color:white')
					form(action='/home/addGroup' method = 'post')
							center
								h3 Create New Group Square
								br
								input(style='padding:2%; border:white', type='text', name='newGroup', placeholder='New Group Name')
								br
								br
								button(style='color:white;border:5px; border-style:solid; border-color:#353DA5; border-radius:5%; background-color:#353DA5;',type='submit', value='Submit') SquareMyGroup
								br
				.col-lg-2
				.col-lg-3(style='padding:4%; border:3px; border-style:solid; border-color: white; border-radius:5%; background-color:white')
					form(action='/home/sendMail' method = 'post')
						center
							h3 Email A Group
							input(style='padding:2%;border: white',type='text', name='targetGroup', placeholder='Enter Group')
							br
							input(style='padding:2%;border: white',type='text', name='subject', placeholder='Enter Subject')
							br
							input(style='padding:2%;border: white',type='text', name='message', placeholder='Enter Message')
							br
							br
							button(style='color:white;border:5px; border-style:solid; border-color:#353DA5; border-radius:5%; background-color:#353DA5;',type='submit', value='Mail') Submit
							br
	.container
				.row(style='padding:2%')
							h1 Squares:
				.row
					-var count = 0;
					each val in groups
							- var colors = ['E57480','84B3DA','7BD4F3','E8E288','7DCE82' ]
							.col-lg-3(style='padding:3%')
								- var getLink = "/groupInfo/" + val

								- var color = colors[count%colors.length]
								a.btn(href='' + getLink, id=val , style='background-color:#'+color+';height:150px; width:150px; padding:4%; border:3px; border-style: solid; color: white; border-color:#' +color+ '; border-radius:5%') #{val}
								- count = count + 1;
