extends layout
block content
	center
		h1 Welcome to Handshake
		h2= email
		br
		form(action='/home/addGroup' method = 'post')
			center
				h3 Create New Group Square
				input(type='text', name='newGroup', placeholder='New Group Name')
				br
				input(type='text', name='emails', placeholder='Paste Comma Separated Emails')
				br
				button(type='submit', value='Submit') SquareMyGroup
				br
		form(action='/home/sendMail' method = 'post')
			center
				h3 SendMail Test
				input(type='text', name='targetGroup', placeholder='Enter Group')
				br
				input(type='text', name='subject', placeholder='Enter Subject')
				br
				input(type='text', name='message', placeholder='Enter Message')
				br
				button(type='submit', value='Mail') Submit
				br