extends layout
block content
	a(href='/logout') Logout
	center
		h1 #{email}'s SquareMail Dashboard
		br
		form(action='/home/addGroup' method = 'post')
			center
				h3 Create New Group Square
				input(type='text', name='newGroup', placeholder='New Group Name')
				br
				button(type='submit', value='Submit') SquareMyGroup
				br
		form(action='/home/sendMail' method = 'post')
			center
				h3 Email A Group
				input(type='text', name='targetGroup', placeholder='Enter Group')
				br
				input(type='text', name='subject', placeholder='Enter Subject')
				br
				input(type='text', name='message', placeholder='Enter Message')
				br
				button(type='submit', value='Mail') Submit
				br
		h3 Groups:
		ul(style='list-style: none')
			each val in groups
				li
					- var getLink = "/groupInfo/" + val
					a(href='' + getLink, id=val) #{val}