extends layout
block content
	center
		h1 Welcome to Handshake
		h2= email
		br
		h3 Friends:
		ul(list-style-type='none')
			each val in friends
				li= val
		form(action='/home/addFriend' method = 'post')
			center
				h3 Add Friend
				input(type='text', name='newFriendEmail', placeholder='Enter Email')
				br
				button(type='submit', value='Submit') Submit
				br