extends layout

block content
      h1(align="center") SquareMail
      p(align="center") 
            i Centralize all of your email lists in one dashboard
      form(action='/' method = 'post')
            center
                  h2 Login
                  input(type='text', name='email', placeholder='Enter Email')
                  br
                  input(type='password', name='password', placeholder='Enter Password')
                  br
                  button(type='submit', value='Submit') Submit
                  br
      form(action='/createUser' method = 'post')
            center
                  h2 Create Account
                  input(type='text', name='email', placeholder='Enter New Email')
                  br
                  input(type='password', name='password', placeholder='Enter New Password')
                  br
                  button(type='submit', value='Submit') Submit
