extends layout

block content

      .row-fluid(style='padding:2%;background:#140F2D')
        img(alt='Brand' ,src='/public/images/SquareMailLogo.png')
        h1(align="center" style='color: #fffff5') SQUARE Mail
      .container
        .row(style='padding:2%')
        form(action='/' method = 'post')
              .row.col-lg-12
                  .col-1
                  .col-lg-3(style='padding-top:5%; border:3px; border-style:solid; border-color:#3F88C5; border-radius:5%;')
                      center
                        h2(style='border: black') Login
                        input(align='center',style='border: white', type='text', name='email', placeholder='Enter Email')
                        br
                        input(style='border: white', type='password', name='password', placeholder='Enter Password')
                        br
                        button(style='border-radius:5%; border: white; background-color: #3F88C5', type='submit', value='Submit') Submit
                        br
                  .col-lg-5
                  .col-3(style='padding:5%; border:3px; border-style:solid; border-color:#F49D37; border-radius:5%')
                      p( style='color: black') Enter login info or create an account to connect instantly to millions!
        form(action='/createUser' method = 'post')
              .row.col-lg-12
                  .col-lg-5
                  .col-lg-3(style='padding:4%; border:3px; border-style:solid; border-color:#D72638; border-radius:5%')
                    center
                      h2 Create Account
                      input(style='border: white', type='text', name='email', placeholder='Enter New Email')
                      br
                      input(style='border: white', type='password', name='password', placeholder='Enter New Password')
                      br
                      button(style='border-radius:5%; background:#D72638; border: white', type='submit', value='Submit') Submit
